<!-- <h1>This is navbar</h1> -->
<mat-toolbar color="primary" class="app-toolbar">
    <a
    routerLink="/"
     mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu_book</mat-icon>
    </a>
   <span>My Exam Portal</span>
   <span class="example-spacer"></span>

   <a 
    *ngIf="!isLoggedIn"
     routerLink="/"
     mat-icon-button class="example-icon favorite-icon mr10" aria-label="Example icon-button with heart icon">
     <mat-icon>home</mat-icon> 
     
   </a>


   <a 
    *ngIf="!isLoggedIn"
    routerLink="/contacts"
     mat-icon-button class="example-icon favorite-icon mr30" aria-label="Example icon-button with heart icon">
     <mat-icon>mail_outline</mat-icon>
   </a>
   <a 
    *ngIf="!isLoggedIn"
     routerLink="/login"
     mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <!-- <mat-icon>login</mat-icon>  -->
     Login
   </a>


   <a 
   *ngIf="!isLoggedIn"
   routerLink="/signup"
   mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
    <!-- <mat-icon>login</mat-icon> -->
    Register
   </a>

   <a 
   *ngIf="isLoggedIn && user"
   mat-icon-button routerLink="/admin/profile" class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
    <!-- <mat-icon>login</mat-icon> -->
    {{user.username}} 
   </a>

   <a 
   (click)="logout()"
   *ngIf="isLoggedIn"
   mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
    <!-- <mat-icon>login</mat-icon> -->
    Logout
   </a>
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
 </mat-toolbar>