<div class="bootstrap-wrapper">
    <div class="container">
        <mat-card class="mt20">
            <mat-card-header>
                <h1>Please find the contact details below</h1>
            </mat-card-header>
            <mat-divider></mat-divider>
            <br>

            <mat-card-content>
                <p><b>Email Adress:</b> choudharyrahul015@gmail.com</p>
                <br>
                <p><b>Contact Details:</b> +91 7979810263</p>
                <br>
                <p><b>Address:</b> House No. 23, Tiwari Gali Shashtri Chowk near Galaxia Mall , Ranchi ,Jharkhand Pin-code: 834005</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>