<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="" width="100" height="100">
                </div>
                <h1 class="text-center">Login here</h1>


                <form (ngSubmit)="formSubmit()">
                    <!--USER NAME-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input
                        [(ngModel)]="loginData.username"
                        name="username"
                        required="mandatory field"
                         matInput placeholder="enter here">
                         <mat-hint>Please enter valid username</mat-hint>
                      </mat-form-field>

                      <!--PASSWORD-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input
                        [(ngModel)]="loginData.password"
                        name="password"
                        required="" 
                        type="password" matInput placeholder="enter here">
                      </mat-form-field>

                      <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary" type="submit">Login</button>
                        <button style="margin-left:20px" mat-raised-button color="primary">Reset</button>
                      </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>